tr:nth-child(9n + 2) td[data-set],
tr:nth-child(9n + 4) td[data-set],
tr:nth-child(9n + 6) td[data-set],
tr:nth-child(9n + 8) td[data-set] {
    background-color: #fbe9e7;
}

tr:nth-child(9n + 3) td[data-set],
tr:nth-child(9n + 5) td[data-set],
tr:nth-child(9n + 7) td[data-set],
tr:nth-child(9n + 9) td[data-set],
tr:nth-child(9n + 10) td[data-set] {
    background-color: #e8f5e9;
}

td[data-set][data-set]:hover {
    cursor: pointer;
    background-color: #80deea;
    transition: background 0s;
}
