td[data-eff="No Effect"],
td[data-eff="Vibath"],
td[data-eff="Karianasam"],
td[data-eff="Vadhai"] {
    background-color: #fbe9e7;
}

td[data-eff="Sambath"],
td[data-eff="Sugam"],
td[data-eff="Deivanugoolam"],
td[data-eff="Maithram"],
td[data-eff="Parama Maithram"] {
    background-color: #e8f5e9;
}

td[data-eff][data-int]:hover {
    cursor: pointer;
    background-color: #80deea;
    transition: background 0s;
}
