tr:nth-child(9n + 2) td[data-str],
tr:nth-child(9n + 4) td[data-str],
tr:nth-child(9n + 6) td[data-str],
tr:nth-child(9n + 8) td[data-str],
td[data-eff="No Effect"],
td[data-eff="Vibath"],
td[data-eff="Karianasam"],
td[data-eff="Vadhai"] {
    background-color: #fbe9e7;
}

tr:nth-child(9n + 3) td[data-str],
tr:nth-child(9n + 5) td[data-str],
tr:nth-child(9n + 7) td[data-str],
tr:nth-child(9n + 9) td[data-str],
tr:nth-child(9n + 10) td[data-str],
td[data-eff="Sambath"],
td[data-eff="Sugam"],
td[data-eff="Deivanugoolam"],
td[data-eff="Maithram"],
td[data-eff="Parama Maithram"] {
    background-color: #e8f5e9;
}

td[data-set][data-int]:hover {
    cursor: pointer;
    background-color: #80deea;
    transition: background 0s;
}
