body {
    font-family: sans-serif;
    margin: 0;
}

table {
    border-spacing: 5px;
}

td, th {
    box-sizing: border-box;
    width: 175px;
    white-space: nowrap;
}

td {
    background-color: #e0f2f1;
    transition: background .3s;
}

tr:nth-child(1) td,
tr:nth-child(3) td,
tr:nth-child(5) td,
tr:nth-child(7) td {
    background-color: #fbe9e7;
}

tr:nth-child(2) td,
tr:nth-child(4) td,
tr:nth-child(6) td,
tr:nth-child(8) td,
tr:nth-child(9) td {
    background-color: #e8f5e9;
}

tr:nth-child(n) td:hover {
    cursor: pointer;
    background-color: #80deea;
    transition: background 0s;
}

th {
    border: 1px solid transparent;
    text-align: left;
}

label, th, td {
    padding: 10px;
}
